html *{
    margin: 0px;
}

.linethrough{
    text-decoration: line-through;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-family: 'Droid Sans', sans-serif;
}

div.form-header {
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    width: 90%;
    border-bottom: 2px solid darkturquoise;
    height: 50px;
}

form {
    max-width: 25em;
    min-height: 334px;
    border: 4px solid darkturquoise;
    background-color: snow;
    margin: 0.5em auto 0;
    font-size: 1.1em;
    color: #0D0D0D;
    padding-bottom: 20px;
}

div.form-header i {
    float: left;
    margin-top: 8px;
    margin-left: 0px;
    color: gray;
    font-size: 1.2em;
}

div.form-header h3 {
    margin-left: 10px;
    margin-top: 5px;
  /*border-bottom: 1px solid gray;*/
    font-size: 1.3em;
    font-weight: 700;
    display: inline;
    float: left;
    color: gray;
}

div.form-header p {
    display: inline-block;
    float: right;
    margin-top: 12px;
    color: orangered;
    font-size: 0.9em;
    text-decoration: underline;
    font-weight: bold;
}

form label {
    display: block;
    line-height: 1.5em;
    color: #444;
    width: auto;
    margin-left: 15px;
}

form input {
    border: 5px solid linen;
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    width: 23px;
    font-size: 0.9em;
    color: #444;
    height: 1em;
}

form button {
    width: 65px;
    height: 3.2em;
    /*border: none;*/
    border-radius: 5px;
    font-size: 1em;
    color: cornsilk;
    font-weight: bold;
    float: right;
    margin-right: 13px;
    background-color: darkturquoise;
    border: none;
}

input.item {
    width: 70%;
}

::-webkit-input-placeholder {
 /* WebKit browsers */
    color: darkturquoise;
    font-family: Helvetica;
    font-size: 1.2em;
}

:-moz-placeholder {
 /* Mozilla Firefox 4 to 18 */
    color: darkturquoise;
    opacity: 1;
}

::-moz-placeholder {
 /* Mozilla Firefox 19+ */
    color: darkturquoise;
    opacity: 1;
}

:-ms-input-placeholder {
 /* Internet Explorer 10+ */
    color: darkturquoise;
}

@media only screen and (max-width: 460px) {
    form {
        max-width: 100%;
    }

    div.form-header i, div.form-header h3 {
        font-size: 1.1em;
    }

    div.form-header>p {
        font-size: 0.8em;
    }

    form button {
        width: 60px;
        margin-right: 4px;
    }
}